---
layout: default
---
<!-- Posts -->
<ul id="posts">
	{% for post in paginator.posts %}

	  <li class="post">
	  	<h2><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h2>
	  	<span class="by-line">{{ post.date | date_to_string }}</span>
	  	<div>
		  	{{ post.content | split:"<!-- more -->" | first | strip_html | truncate:300 }}
			{% if post.content | size > 300 %}
	    		<strong>
	    			<a href="{{ BASE_PATH }}{{ post.url }}">... ...</a>
	    		</strong>
			{% endif %}

		</div>
	  </li>

  {% endfor %}

</ul>
